<footer class="footer">
  <small>
    © <%= link_to "HomeTel" %>, Inc.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Terms",   '#' %></li>
      <li><%= link_to "Privacy", '#' %></li>
      <li><%= link_to "Site Map", '#' %></li>
    </ul>
  </nav>
</footer>